{
let header = html!{{"Popover Title"}};
let footer = html!{"Some footer content."};

html!{
    <PopoverPopup orientation={Orientation::Left}
        header={header}
        footer={footer}
        >
        {"This is just an example popover."}
    </PopoverPopup>
}
}