{
    let target = html!{
         <span
             style="border: 1px solid black;">
             {"I have a popover. Click me."}
         </span>
    };

    let body = html_nested!(
        <PopoverBody
            header={html!("Popover Title")}
            footer={html!("Some footer content.")}
        >
            {"This is just an example popover."}
        </PopoverBody>
    );

    html!( <Popover {target} {body} /> )
}