{
html!(
    <Dropdown
        text="Foo"
    >
        <MenuAction text="Foo" onclick={ctx.link().callback(|_|Msg::ShowToast("Clicked Foo".into()))} />
        <ListDivider/>
        <MenuAction text="Bar" onclick={ctx.link().callback(|_|Msg::ShowToast("Clicked Bar".into()))} />
        <ListDivider/>
        <MenuLink text="PatternFly" icon={Icon::ExternalLinkAlt} href="https://patternfly.org" target="_blank" />
    </Dropdown>
)
}