{
let toggle = html!{<DropdownToggle text="Foo"></DropdownToggle>};

html!{
    <Dropdown
        toggle={toggle}
    >
        <DropdownItem onclick={ctx.link().callback(|_|Msg::ShowToast("Clicked Foo".into()))}>{"Foo"}</DropdownItem>
        <Divider/>
        <DropdownItem onclick={ctx.link().callback(|_|Msg::ShowToast("Clicked Bar".into()))}>{"Bar"}</DropdownItem>
        <Divider/>
        <DropdownItem href="https://patternfly.org" target="_blank">{"PatternFly"}</DropdownItem>
    </Dropdown>
}
}