{
let icon = html!(
    <Avatar src={"assets/images/img_avatar-light.svg"} alt="avatar" />
);

#[function_component(CustomEntry)]
fn custom_entry() -> Html {
    let onclose = use_close_menu_callback();
    html!(
        <div class="pf-v6-c-menu__list-item">
            <div
                class="pf-v6-c-menu__item"
                role="menuitem"
                onclick={onclose.reform(|_|())}
            >
                <dl>
                    <dt class="pf-v6-u-font-size-xs">{"Foo"}</dt><dd>{"Bar"}</dd>
                    <dt>{"Bar"}</dt><dd>{"Baz"}</dd>
                </dl>
            </div>
        </div>
    )
}

html!{
    <Dropdown
        variant={MenuToggleVariant::Plain}
        {icon}
        text={html!{"Foo Bar"}}
    >
        <MenuGroup>
            <Raw>
                <CustomEntry/>
            </Raw>
            <MenuAction>{"Foo"}</MenuAction>
        </MenuGroup>
        <ListDivider/>
        <MenuGroup title="Group 1">
            <MenuAction>{"Bar"}</MenuAction>
            <MenuAction>{"Foo"}</MenuAction>
        </MenuGroup>
    </Dropdown>
}
}
