{
let icon = html!(
    <Avatar src={"assets/images/img_avatar-light.svg"} alt="avatar" />
);

html!{
    <Dropdown
        variant={MenuToggleVariant::Plain}
        {icon}
        text="Foo Bar"
    >
        <MenuGroup>
            <Raw>
                <div class="pf-v5-c-menu__list-item">
                    <div
                        class="pf-v5-c-menu__item"
                        role="menuitem"
                    >
                        <dl>
                            <dt class="pf-v5-u-font-size-xs">{"Foo"}</dt><dd>{"Bar"}</dd>
                            <dt>{"Bar"}</dt><dd>{"Baz"}</dd>
                        </dl>
                    </div>
                </div>
            </Raw>
            <MenuAction text="Foo" />
        </MenuGroup>
        <ListDivider/>
        <MenuGroup title="Group 1">
            <MenuAction text="Bar" />
            <MenuAction text="Foo" />
        </MenuGroup>
    </Dropdown>
}
}
