{
html!(
    <Dropdown
        variant={MenuToggleVariant::Plain}
        icon={Icon::EllipsisV}
    >
        <MenuAction text="Foo" />
        <ListDivider/>
        <MenuAction text="Bar"/>
    </Dropdown>
)
}