html!{
    <>
        <HelperText>
            <HelperTextItem variant={HelperTextItemVariant::Default}>
                {"This is the default helper text"}
            </HelperTextItem>
        </HelperText>
        <HelperText>
            <HelperTextItem variant={HelperTextItemVariant::Intermediate}>
                {"This is indeterminate helper text"}
            </HelperTextItem>
        </HelperText>
        <HelperText>
            <HelperTextItem variant={HelperTextItemVariant::Warning}>
                {"This is warning helper text"}
            </HelperTextItem>
        </HelperText>
        <HelperText>
            <HelperTextItem variant={HelperTextItemVariant::Success}>
                {"This is success helper text"}
            </HelperTextItem>
        </HelperText>
        <HelperText>
            <HelperTextItem variant={HelperTextItemVariant::Error}>
                {"This is error helper text"}
            </HelperTextItem>
        </HelperText>
    </>
}