html!{
    <>
        <HelperText>
            <HelperTextItem state={HelperTextState::Default}>
                {"This is the default helper text"}
            </HelperTextItem>
        </HelperText>
        <HelperText>
            <HelperTextItem state={HelperTextState::Intermediate}>
                {"This is indeterminate helper text"}
            </HelperTextItem>
        </HelperText>
        <HelperText>
            <HelperTextItem state={HelperTextState::Warning}>
                {"This is warning helper text"}
            </HelperTextItem>
        </HelperText>
        <HelperText>
            <HelperTextItem state={HelperTextState::Success}>
                {"This is success helper text"}
            </HelperTextItem>
        </HelperText>
        <HelperText>
            <HelperTextItem state={HelperTextState::Error}>
                {"This is error helper text"}
            </HelperTextItem>
        </HelperText>
    </>
}