[package]
name = "patternfly-yew-quickstart"
version = "0.2.0"
authors = ["Jens Reimann <jreimann@redhat.com>"]
edition = "2018"
license = "Apache-2.0"
readme = "README.md"
description = "A quickstart project for using PatternFly with Yew Stack"
repository = "https://github.com/ctron/patternfly-yew-quickstart"

#[lib]
#crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2"
wasm-logger = "0.2"

yew = "0.19"
yew-router = { version = "0.16.1", package = "yew-router-nested" }
gloo-utils = "0.1"

chrono = { version = "0.4", features = ["wasmbind"] }

patternfly-yew = "0.2.0"

strum = "0.19"

log = "0.4"

[patch.crates-io]
#patternfly-yew = { path = "../patternfly-yew" }
#patternfly-yew = { git = "https://github.com/ctron/patternfly-yew", rev = "ad0b2730402c004cd6e10ec6c52a2a0da2e13310" } # FIXME: awaiting release
#yew-router = { git = "https://github.com/ctron/yew-router", branch="main" }
#yew-router-macro = { git = "https://github.com/ctron/yew-router", branch="main" }
#yew-router-route-parser = { git = "https://github.com/ctron/yew-router", branch="main" }


