{
    #[function_component(Example)]
    fn example() -> Html {

        let state = use_state_eq(|| CheckboxState::Indeterminate);
        let onchange = use_callback(state.clone(), |value: CheckboxState, state| {
            state.set(value);
        });

        let onreset = use_callback(state.clone(), |_, state| {
            state.set(CheckboxState::Indeterminate);
        });

        html!(
            <>
                <Checkbox label="Tri-state checkbox" {onchange} checked={*state} />
                <Button label="Reset" onclick={onreset} />
            </>
        )
    }

    html!(<Example/>)
}
