{

    #[function_component(Example)]
    fn example() -> Html {
        html!(
            <Dropdown
                text="Drop Down Menu"
            >
                <MenuAction text="Action" />
                <MenuLink text="Link" href="/" />
                <MenuAction text="Action (disabled)" disabled=true />
                <MenuLink text="Link (disabled)" disabled=true href="/" />
                <ListDivider />
                <MenuAction text="Action" danger=true />
            </Dropdown>
        )
    }

    html!(<Example/>)
}
