{
    #[function_component(Example)]
    fn example() -> Html {
        let expanded = use_state_eq(||false);
        let ontoggle = use_callback(|_, expanded| expanded.set(!**expanded), expanded.clone());
        html!(
            <MenuToggle
                expanded={*expanded}
                {ontoggle}
            />
        )
    }

    html!(<Example/>)
}
