html!(
    <Form>
        <FormGroupValidated<TextInput>
            label="Some text"
            required=true
            validator={Validator::from(|ctx: ValidationContext<String>| {
                if ctx.value.is_empty() {
                    ValidationResult::error("Must not be empty")
                } else if ctx.value.contains("foo") {
                    ValidationResult::warning("Should not contain 'foo'")
                } else if ctx.value == "Nur ein Wort" {
                    ValidationResult::new(InputState::Success, "Congratulations, you found the magic value!")
                } else {
                    ValidationResult::default()
                }
            })}
        >
            <TextInput
                placeholder="Enter some text"
            />
        </FormGroupValidated<TextInput>>
    </Form>
)