{
    html!(
        <Resize>
            <Truncate content={TruncateContent::Middle(
                "Vestibulum interdum risus et enim faucibus, sit amet molestie est".into(),
                " accumsan.".into()
            )} />
        </Resize>
    )
}