html!{
    <Flex>
        <Flex modifiers={[FlexModifier::Column.lg()]}>
            <FlexItem><LayoutItem>{"Flex item #1"}</LayoutItem></FlexItem>
            <FlexItem><LayoutItem>{"Flex item #2"}</LayoutItem></FlexItem>
            <FlexItem><LayoutItem>{"Flex item #3"}</LayoutItem></FlexItem>
        </Flex>
    </Flex>
}