html!{
    <>
        <DescriptionList>
            <DescriptionGroup term="ListOrder::Number">
                <List r#type={ListType::Ordered(ListOrder::Number)}>
                    <ListItem>{"First"}</ListItem>
                    <ListItem>{"Second"}</ListItem>
                    <ListItem>{"Third"}</ListItem>
                </List>
            </DescriptionGroup>
            <DescriptionGroup term="ListOrder::LowercaseLetter">
                <List r#type={ListType::Ordered(ListOrder::LowercaseLetter)}>
                    <ListItem>{"First"}</ListItem>
                    <ListItem>{"Second"}</ListItem>
                    <ListItem>{"Third"}</ListItem>
                </List>
            </DescriptionGroup>
            <DescriptionGroup term="ListOrder::UppercaseLetter">
                <List r#type={ListType::Ordered(ListOrder::UppercaseLetter)}>
                    <ListItem>{"First"}</ListItem>
                    <ListItem>{"Second"}</ListItem>
                    <ListItem>{"Third"}</ListItem>
                </List>
            </DescriptionGroup>
            <DescriptionGroup term="ListOrder::LowercaseRomanNumber">
                <List r#type={ListType::Ordered(ListOrder::LowercaseRomanNumber)}>
                    <ListItem>{"First"}</ListItem>
                    <ListItem>{"Second"}</ListItem>
                    <ListItem>{"Third"}</ListItem>
                </List>
            </DescriptionGroup>
            <DescriptionGroup term="ListOrder::UppercaseRomanNumber">
                <List r#type={ListType::Ordered(ListOrder::UppercaseRomanNumber)}>
                    <ListItem>{"First"}</ListItem>
                    <ListItem>{"Second"}</ListItem>
                    <ListItem>{"Third"}</ListItem>
                </List>
            </DescriptionGroup>
        </DescriptionList>
    </>
}
