{
html!{
    <>
        <TabsRouter<TabRoutes>>
            <TabRouterItem<TabRoutes> to={TabRoutes::Foo} title="Foo"/>
            <TabRouterItem<TabRoutes> to={TabRoutes::Bar} title="Bar"/>
            <TabRouterItem<TabRoutes> to={TabRoutes::Baz} title="Baz"/>
        </TabsRouter<TabRoutes>>
        <div>
            <RouterSwitch<TabRoutes> render={|current| {
                match current {
                    TabRoutes::Foo => html!{{"Foo"}},
                    TabRoutes::Bar => html!{{"Bar"}},
                    TabRoutes::Baz => html!{{"Baz"}},
                }
            }}/>
        </div>
    </>
}
}