{
    #[function_component(SimpleListExampleGrouped)]
    fn basic() -> Html {
        let selected = use_state(|| 0);
        let cb = use_callback(selected.clone(), |id, selected| selected.set(id));
        html! {
            <SimpleListGrouped>
                <SimpleListGroup title={html!("Group 1")}>
                    <SimpleListItem
                        onclick={let cb = cb.clone(); move |_| cb.emit(0)}
                        key=0
                        active={*selected == 0}
                    >
                        {"List item 1"}
                    </SimpleListItem>
                    <SimpleListItem
                        key=1
                        onclick={let cb = cb.clone(); move |_| cb.emit(1)}
                        active={*selected == 1}
                    >
                        {"List item 2"}
                    </SimpleListItem>
                    <SimpleListItem
                        key=2
                        onclick={let cb = cb.clone(); move |_| cb.emit(2)}
                        active={*selected == 2}
                    >
                        {"List item 3"}
                    </SimpleListItem>
                    <SimpleListItem
                        key=3
                        onclick={let cb = cb.clone(); move |_| cb.emit(3)}
                        active={*selected == 3}
                    >
                        {"List item 4"}
                    </SimpleListItem>
                </SimpleListGroup>
                <SimpleListGroup title={html!("Group 2")}>
                    <SimpleListItem
                        onclick={let cb = cb.clone(); move |_| cb.emit(4)}
                        key=0
                        active={*selected == 4}
                    >
                        {"List item 1"}
                    </SimpleListItem>
                    <SimpleListItem
                        key=1
                        onclick={let cb = cb.clone(); move |_| cb.emit(5)}
                        active={*selected == 5}
                    >
                        {"List item 2"}
                    </SimpleListItem>
                    <SimpleListItem
                        key=2
                        onclick={let cb = cb.clone(); move |_| cb.emit(6)}
                        active={*selected == 6}
                    >
                        {"List item 3"}
                    </SimpleListItem>
                    <SimpleListItem
                        key=3
                        onclick={let cb = cb.clone(); move |_| cb.emit(7)}
                        active={*selected == 7}
                    >
                        {"List item 4"}
                    </SimpleListItem>
                </SimpleListGroup>
            </SimpleListGrouped>
        }
    }
    html! {
        <SimpleListExampleGrouped/>
    }
}
