html! (
    <>
        <Progress description="Default" value=0.3333333333 />
        <Progress description="Raw" value=0.3333333333 format={ProgressValueFormat::Raw} />

        <Progress description="Decimal(1)" range={50f64..100f64} value=76f64 format={ProgressValueFormat::Decimal(1)} />
        <Progress description="Integer" range={50f64..100f64} value=76f64 format={ProgressValueFormat::Integer} />

        <Progress description="Custom" range={0.0..10.0} value=2.0 value_text="2 of 10" />
        <Progress description="Custom" range={0f64..10f64} value=2f64 value_text="Step 2: do stuff" />
    </>
)