{
    html!(
        <>
        <Spinner size={SpinnerSize::Sm} />
        <Spinner size={SpinnerSize::Md} />
        <Spinner size={SpinnerSize::Lg} />
        <Spinner size={SpinnerSize::Xl} />
        </>
    )
}
