html!{
    <>
    <p>
        <Select<String>
            variant={SelectVariant::Multiple(Default::default())}
            chip={ChipVariant::Values}
        >
            <SelectGroup<String> label="Group #1">
                <SelectOption<String> value="A"/>
                <SelectOption<String> value="B"/>
                <SelectOption<String> value="C"/>
            </SelectGroup<String>>
            <SelectGroup<String> label="Group #2">
                <SelectOption<String> value="D"/>
                <SelectOption<String> value="E"/>
                <SelectOption<String> value="F"/>
            </SelectGroup<String>>
        </Select<String>>
    </p>
    </>
}