{
    #[function_component(Example)]
    fn example() -> Html {
        let expanded = use_state_eq(||false);
        let ontoggle = use_callback(expanded.clone(), |_, expanded| expanded.set(!**expanded));
        html!(
            <MenuToggle
                expanded={*expanded}
                {ontoggle}
            />
        )
    }

    html!(<Example/>)
}
