{
    #[function_component(CardActions)]
    fn actions() -> Html {
        let checked = use_state(|| CheckboxState::Unchecked);
        let has_no_offset = use_state(|| false);

        let onclick = use_callback(checked.clone(), |new_val, checked| checked.set(new_val));
        let toggle_offset = use_callback(has_no_offset.clone(), |new_val: CheckboxState, has_no_offset| {
            has_no_offset.set(new_val.into())
        });
        let actions = html! {
            <>
                <Dropdown variant={MenuToggleVariant::Plain} icon={Icon::EllipsisV}>
                    <MenuAction>{"Action"}</MenuAction>
                    <MenuLink href={"#"}>{"Link"}</MenuLink>
                    <MenuAction disabled=true>{"Disabled Action"}</MenuAction>
                    <MenuLink href={"#"} disabled=true>{"Disabled Link"}</MenuLink>
                    <ListDivider/>
                    <MenuAction>{"Separated Action"}</MenuAction>
                    <MenuLink href={"#"}>{"Separated Link"}</MenuLink>
                </Dropdown>
                <Checkbox checked={*checked} onchange={onclick.clone()} id="check-1" name="check-1"/>
            </>
        };
        let actions = yew::props!(CardHeaderActionsObject {
            actions,
            has_no_offset: *has_no_offset,
        });
        html! {
            <>
                <Card>
                    <CardHeader {actions}>
                        <Brand src="assets/images/pf_logo.svg" alt="Patternfly logo"/>
                    </CardHeader>
                    <CardTitle>{"Title"}</CardTitle>
                    <CardBody>{"Body"}</CardBody>
                    <CardFooter>{"Footer"}</CardFooter>
                </Card>
                <div style="margin-top: 20px;">
                    <Checkbox
                        label="actions has_no_offset"
                        checked={*has_no_offset}
                        onchange={toggle_offset.clone()}
                        id="toggle-actions-offset-1"
                        name="toggle-actions-offset-1"
                    />
                </div>
            </>
        }
    }
    html! {
        <CardActions/>
    }
}
