{
    html! {
        <Card>
            <CardTitle>{"Title"}</CardTitle>
            <CardBody>{"Body"}</CardBody>
            <CardBody>{"Body"}</CardBody>
            <CardBody>{"Body"}</CardBody>
            <CardFooter>{"Footer"}</CardFooter>
        </Card>
    }
}
