html!{
    <>
    <Modal
        title = {"Example modal"}
        variant= {ModalVariant::Medium}
        description = {"A description is used when you want to provide more info about the modal than the title is able to describe."}
    >
        <p>{"The modal body can contain text, a form, any nested html will work."}</p>
    </Modal>
    </>
}