html!{
    <Hint>
        <HintBody>
            { "Upgrade to Red Hat Smart Management to remediate all your systems across regions and geographies."}
        </HintBody>
        <HintFooter>
            <Button variant={ButtonVariant::InlineLink}>
                { "Try it for 90 days" }
            </Button>
        </HintFooter>
    </Hint>
}