{
    let actions = html! {
        <Dropdown
            icon={Icon::EllipsisV}
            position={Position::Right}
            variant={MenuToggleVariant::Plain}
        >
            <MenuAction key="link">{ "Link" }</MenuAction>
            <MenuAction key="action">{ "Action" }</MenuAction>
            <ListDivider />
            <MenuAction key="separated link">{ "Separated Link" }</MenuAction>
            <MenuAction key="separated action">{ "Separated Action" }</MenuAction>
        </Dropdown>
    };

    html!{
        <Hint actions={actions}>
         <HintTitle>{ "Do more with Find it Fix it capabilities" }</HintTitle>
            <HintBody>
                { "Welcome to the new documentation experience. " }
                <a href="#">{ "Learn more about the improved features" }</a>{ "." }
            </HintBody>
            <HintFooter>
                <Button variant={ButtonVariant::InlineLink}>
                    { "Try it for 90 days" }
                </Button>
            </HintFooter>
        </Hint>
    }
}