{
    let actions = html! {
        <Dropdown
            icon={Icon::EllipsisV}
            position={Position::Right}
            variant={MenuToggleVariant::Plain}
        >
            <MenuAction text="Link" key="link" />
            <MenuAction text="Action" key="action" />
            <ListDivider />
            <MenuAction text="Separated Link" key="separated link" />
            <MenuAction text="Separated Action" key="separated action" />
        </Dropdown>
    };

    html!{
        <Hint actions={actions}>
         <HintTitle>{ "Do more with Find it Fix it capabilities" }</HintTitle>
            <HintBody>
                { "Welcome to the new documentation experience. " }
                <a href="#">{ "Learn more about the improved features" }</a>{ "." }
            </HintBody>
            <HintFooter>
                <Button variant={ButtonVariant::InlineLink}>
                    { "Try it for 90 days" }
                </Button>
            </HintFooter>
        </Hint>
    }
}