{
    #[function_component(Example)]
    fn example() -> Html {

        let inline = use_state_eq(|| false);
        let change_inline = use_callback(inline.clone(), |checked, handle| handle.set(checked));

        let r#static = use_state_eq(|| false);
        let change_static = use_callback(r#static.clone(), |checked, handle| handle.set(checked));

        let expanded = use_state_eq(|| false);
        let onclick = use_callback(expanded.clone(), |_, expanded| expanded.set(!**expanded));
        let onclose = use_callback(expanded.clone(), |_, expanded| expanded.set(false));

        let panel_content = html!(
            <DrawerPanelContent>
                <DrawerHead>
                    <span>
                        {"drawer-panel"}
                    </span>
                    <DrawerActions>
                        <DrawerCloseButton onclick={onclose} />
                    </DrawerActions>
                </DrawerHead>
            </DrawerPanelContent>
        );

        html!(
            <>

                <List r#type={ListType::Inline}>
                    <ListItem><Switch label="inline" checked={*inline} onchange={change_inline} /></ListItem>
                    <ListItem><Switch label="static" checked={*r#static} onchange={change_static} /></ListItem>
                </List>

                <Button variant={ButtonVariant::Primary} {onclick}>{"Toggle drawer"}</Button>
                <Drawer expanded={*expanded} inline={*inline} r#static={[*r#static]}>
                    <DrawerContent {panel_content}>
                        <DrawerContentBody>
                            { "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium est a porttitor vehicula. Quisque vel commodo urna. Morbi mattis rutrum ante, id vehicula ex accumsan ut. Morbi viverra, eros vel porttitor facilisis, eros purus aliquet erat,nec lobortis felis elit pulvinar sem. Vivamus vulputate, risus eget commodo eleifend, eros nibh porta quam, vitae lacinia leo libero at magna. Maecenas aliquam sagittis orci, et posuere nisi ultrices sit amet. Aliquam ex odio, malesuada sed posuere quis, pellentesque at mauris. Phasellus venenatis massa ex, eget pulvinar libero auctor pretium. Aliquam erat volutpat. Duis euismod justo in quam ullamcorper, in commodo massa vulputate." }
                        </DrawerContentBody>
                    </DrawerContent>
                </Drawer>
            </>
        )

    }

    html!(<Example/>)
}
