html!{
    <AppLauncher>
        <AppLauncherItem>{"Foo"}</AppLauncherItem>
        <Divider/>
        <AppLauncherItem href="https://patternfly.org" external=true>{"PatternFly"}</AppLauncherItem>
    </AppLauncher>
}