html!{
    <AppLauncher>
        <AppLauncherItem onclick={move |_|toast("Success")}>{"Foo"}</AppLauncherItem>

        <Divider/>

        <AppLauncherItem href="https://patternfly.org" external=true>{"PatternFly"}</AppLauncherItem>

    </AppLauncher>
}