html!{
    <>
        <Button variant={Variant::Primary} label={"Follow me!"} icon={Icon::ExternalLinkAlt} align={Align::Start} />
        {" "}
        <Button variant={Variant::Primary} label={"Follow me!"} icon={Icon::ExternalLinkAlt} align={Align::End}  />
    </>
}
