html!{
    <Dropdown
        toggle={
            html!{<DropdownToggle text="Foo"></DropdownToggle>}
        }
    >
        <DropdownItem>{"Foo"}</DropdownItem>
        <Divider/>
        <DropdownItem>{"Bar"}</DropdownItem>
        <Divider/>
        <DropdownItem href="https://patternfly.org" target="_blank">{"PatternFly"}</DropdownItem>
    </Dropdown>
}