{
let header = html!{{"Popover Title"}};
let footer = html!{"Some footer content."};
let target = html!{
     <span
         style="border: 1px solid black;">
         {"I have a popover. Click me."}
     </span>
};

html!{
    <Popover
        toggle_by_onclick=true
        header={header}
        footer={footer}
        target={target}
        >
        {"This is just an example popover."}
    </Popover>
}
}