html!{
    <Popover
        toggle_by_onclick=true
        header=html!{<Title size=Size::Medium>{"Popover Title"}</Title>}
        footer=html!{"Some footer content."}
        target=html!{
            <span
                style="border: 1px solid black;">
                {"I have a popover. Click me."}
            </span>
        }
        >
        {"This is just an example popover."}
    </Popover>
}