html!{
    <ContextSelector
        selected="Foo"
    >
        <ContextSelectorItem label="Foo" />
        <ContextSelectorItem label="Bar" />
        <ContextSelectorItem label="Baz" disabled=true />
    </ContextSelector>
}