{

    #[component]
    fn Example() -> Html {
        let toaster = use_toaster().unwrap();
        let action = use_callback(toaster, |_, toaster| toaster.toast("Clicked it!"));

        html!(
            <Dropdown
                text={html!{"Drop Down Menu"}}
            >
                <MenuAction onclick={action.clone()}>{ "Action" }</MenuAction>
                <MenuLink href="/">{ "Link" }</MenuLink>
                <MenuAction disabled=true>{ "Action (disabled)" }</MenuAction>
                <MenuLink disabled=true href="/">{ "Link (disabled)" }</MenuLink>
                <ListDivider />
                <MenuAction onclick={action.clone()} danger=true>{ "Action" }</MenuAction>
            </Dropdown>
        )
    }

    html!(<Example/>)
}
