html!(
    <Menu>
        <MenuAction onclick={action.clone()}>{ "Action" }</MenuAction>
        <MenuLink href="/">{ "Link" }</MenuLink>
        <MenuAction disabled=true>{ "Action (disabled)" }</MenuAction>
        <MenuLink disabled=true href="/">{ "Link (disabled)" }</MenuLink>
        <ListDivider />
        <MenuAction danger=true>{ "Action" }</MenuAction>
        <MenuLoading />
    </Menu>
)
