{
let header = html_nested! (
    <TableHeader<Columns>>
        <TableColumn<Columns> label="foo" index={Columns::First} />
        <TableColumn<Columns> label="bar" index={Columns::Second} />
        <TableColumn<Columns> label="baz" index={Columns::Third} />
    </TableHeader<Columns>>
);

html!(
    <Table<Columns, UseTableData<Columns, UseStateTableModel<ExampleEntry>>>
        mode={TableMode::CompactExpandable}
        {header}
        entries={model4.clone()}
        onexpand={onexpand.clone()}
    />
)
}