{
    let entries = vec![
        ExampleEntry { foo: "bar".into() },
        ExampleEntry {
            foo: "Much, much longer foo".into(),
        },
    ];
    let model: SharedTableModel<_> = entries.into();

    let header = html_nested! {
        <TableHeader>
            <TableColumn label="foo" width={ColumnWidth::Percent(30)}/>
            <TableColumn label="bar" width={ColumnWidth::Percent(20)}/>
            <TableColumn label="baz"/>
        </TableHeader>
    };

    html!(
        <Table<SharedTableModel<ExampleEntry>>
            grid={TableGridMode::Medium}
            header={header}
            entries={model}
        />
    )
}