html!{
    <Stack gutter=true>
        <StackItem><LayoutItem>{"Item #1"}</LayoutItem></StackItem>
        <StackItem fill=true><LayoutItem>{"Item #2"}</LayoutItem></StackItem>
        <StackItem><LayoutItem>{"Item #3"}</LayoutItem></StackItem>
    </Stack>
}