{
    #[function_component(SearchInputExampleBasic)]
    fn basic() -> Html {
        let colors = &["red", "green", "blue", "black", "yellow", "purple"];

        let value = use_state(String::new);
        let onchange = use_callback(value.clone(), |new, old| old.set(new));
        let onclear = use_callback(value.clone(), |_, val| val.set(String::new()));
        let possible_values: Vec<&'static str> = colors
            .iter()
            .filter(|c| c.starts_with(&value.to_lowercase()))
            .map(|c| *c)
            .collect();
        html! {
            <>
                <SearchInput
                    placeholder={"Find by name"}
                    value={(*value).clone()}
                    {onchange}
                    {onclear}
                />
                <div>
                    {format!("Possible results: {possible_values:?}")}
                </div>
            </>
        }
    }
    html! {
        <SearchInputExampleBasic/>
    }
}
