html!{
    <Flex>
        <Flex modifiers=vec![FlexModifier::Grow.all()]>
            <FlexItem><div style=style>{"Flex item #1"}</div></FlexItem>
            <FlexItem><div style=style>{"Flex item #2"}</div></FlexItem>
            <FlexItem><div style=style>{"Flex item #3"}</div></FlexItem>
        </Flex>
        <Flex>
            <FlexItem><div style=style>{"Flex item #4"}</div></FlexItem>
            <FlexItem><div style=style>{"Flex item #5"}</div></FlexItem>
            <FlexItem><div style=style>{"Flex item #6"}</div></FlexItem>
        </Flex>
    </Flex>
}