html!{
    <Flex>
        <Flex modifiers={[FlexModifier::Grow.all()]}>
            <FlexItem><LayoutItem>{"Flex item #1"}</LayoutItem></FlexItem>
            <FlexItem><LayoutItem>{"Flex item #2"}</LayoutItem></FlexItem>
            <FlexItem><LayoutItem>{"Flex item #3"}</LayoutItem></FlexItem>
        </Flex>
        <Flex>
            <FlexItem><LayoutItem>{"Flex item #4"}</LayoutItem></FlexItem>
            <FlexItem><LayoutItem>{"Flex item #5"}</LayoutItem></FlexItem>
            <FlexItem><LayoutItem>{"Flex item #6"}</LayoutItem></FlexItem>
        </Flex>
    </Flex>
}