{
    #[function_component(Example)]
    fn example() -> Html {

        let bordered = use_state(|| false);
        let large = use_state(|| false);

        let change_callback = |handle: &UseStateHandle<bool>| {
            let handle = handle.clone();
            Callback::from(move |checked| {
                handle.set(checked);
            })
        };

        let state = use_state(||"Jun 06, 2023, 23:22".to_string());

        let toggle = |key: &'static str| {
            let state = state.clone();
            Callback::from(move |_| {
                state.set(key.to_string());
            })
        };

        html!(
            <>

                <List r#type={ListType::Inline}>
                    <ListItem><Switch label="border" checked={*bordered} onchange={change_callback(&bordered)} /></ListItem>
                    <ListItem><Switch label="large" checked={*large} onchange={change_callback(&large)} /></ListItem>
                </List>

                <Accordion
                    bordered={*bordered}
                    large={*large}
                >
                    <AccordionItem title="Jun 06, 2023, 23:22" onclick={toggle("first")} expanded={*state == "first"}>
                        {"Picard management tip: Keep a log of your journey. You will understand better by writing it down."}
                    </AccordionItem>
                    <AccordionItem title="Jun 05, 2023, 22:13" onclick={toggle("second")} expanded={*state == "second"}>
                        {"Picard management tip: If a crew member needs to become more responsible, give them more responsibility."}
                    </AccordionItem>
                    <AccordionItem title="May 29, 2023, 18:13" onclick={toggle("third")} expanded={*state == "third"}>
                        {"Picard engineering tip: Use the metric system."}
                    </AccordionItem>
                    <AccordionItem title="May 29, 2023, 18:13" onclick={toggle("fourth")} expanded={*state == "fourth"}>
                        <p>{"Picard management tip: Exercise makes you smarter. Don't just sit there thinking."}</p>
                        <p> {"Get up."} </p>
                    </AccordionItem>
                </Accordion>

                <Content>
                    {"Source: "} <a href="https://botsin.space/@picardtips" target="_new">{"https://botsin.space/@picardtips"}</a>
                </Content>

            </>
        )
    }

    html!(<Example/>)
}
