{
    #[function_component(Example)]
    fn example() -> Html {
        let msg = use_state(String::new);

        let onchange = {
            let msg = msg.clone();
            Callback::from(move |value: f64| msg.set(format!("{value:.2}")))
        };

        html!(
            <>
                <div>
                    <strong>{ "Value: " }</strong> { (*msg).clone() }
                </div>
                <Slider min={-100f64} max=100f64 {onchange}/>
            </>
        )
    }

    html!(<Example/>)
}